:root,
body {
  --layout-height-header: 4rem;
  --layout-height-footer: 2rem;

  margin: 0px;
  padding: 0px;

  width: 100vw;
  min-height: 100vh;

  color: var(--color-theme-font);
  background-color: var(--color-theme-bg);
}
