.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-inline: 4rem;
  border: 1px solid var(--color-accent);
}

.page-header-link {
  color: white;
}
