.logout-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;

  width: 100% !important;
  padding: 0px !important;
  margin: 0px;

  border: none;
  background-color: transparent;
}

.logout-btn {
  width: 40%;
  height: 3rem;

  cursor: pointer;

  font-size: medium;
  color: var(--color-theme-font);
  border: 1px solid var(--color-theme-font);
  border-radius: 10px;
  background-color: transparent;
}

.logout-btn:hover {
  font-size: large;

  color: var(--color-theme-bg);
  background-color: var(--color-accent);
  border-color: var(--color-theme-bg);
}
