.update-profile-infos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.update-profile-infos-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  gap: 2rem;
}

.profile-infos-field {
  display: grid;
  grid-template-columns: 14rem 1fr;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.profile-infos-field-label {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
}

.profile-infos-field-input {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-evenly;
  font-size: medium;
}

.profile-infos-field-input > * {
  width: 100%;
  resize: vertical;
  font-size: medium;
}

.update-profile-infos-form-submit {
  width: 20rem;
  height: 4rem;
  cursor: pointer;
  margin-block: 2rem;
  background-color: transparent;
  color: var(--color-theme-font);
  font-size: medium;
}

.update-profile-infos-form-submit:hover {
  font-size: large;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
