.profile-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 1fr 1fr;
  justify-content: center;
  align-items: center;

  column-gap: 8rem;
  row-gap: 2rem;
}

.profile-avatar {
  grid-row: span 3;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.profile-avatar > * {
  width: 100px;
  height: 100px;

  border: 1px solid var(--color-accent);
  border-radius: 50%;
}

.profile-username {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;

  height: 100%;
  font-size: xx-large;
}

.profile-bio {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height: 100%;
}

.profile-location {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
}
