.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* max-width: 100vw;
  height: 4rem; */

  padding-inline: 4rem;

  border: 1px solid var(--color-accent);
}
