.account-container {
  display: grid;
  grid-template-rows: 18rem 1fr;

  width: 100%;
  height: 100%;
}

.user-profile-container {
  display: grid;
  grid-template-columns: 1fr 30rem;

  border-bottom: 1px solid white;
}

.account-dynamic-content {
  height: 100%;
}
