.account-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 30rem;

  height: 18rem;
  border-bottom: 1px solid white;
}

.profile-main-infos {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;

  column-gap: 8rem;
  row-gap: 2rem;
}

.profile-main-infos-avatar {
  grid-row: span 2;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.profile-main-infos-avatar > * {
  width: 100px;
  height: 100px;

  border: 1px solid var(--color-accent);
  border-radius: 50%;
}

.profile-main-infos-username {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;

  height: 100%;
  font-size: xx-large;
}

.profile-main-infos-bio {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height: 100%;
}

.profile-secondary-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-block: 2rem;

  border-left: 1px solid white;
}

.profile-secondary-infos > * {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;

  padding-inline: 2rem;

  font-size: medium;
  color: var(--color-theme-font);
  border: transparent;
  background-color: transparent;
}
