.account-container {
  --account-content-choices-container: 3rem;
  display: grid;
  grid-template-rows: 18rem var(--account-content-choices-container) 1fr;

  width: 100%;
  height: 100%;
  gap: 1rem;
}

.user-profile-container {
  display: grid;
  grid-template-columns: 1fr 30rem;

  border-bottom: 1px solid white;
}

.account-content-choices-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.account-content-choice {
  cursor: pointer;
  height: 100%;
  width: 18rem;
  height: var(--account-content-choices-container - 1rem);
  color: var(--color-theme-font);
  font-size: medium;
  border: none;
  background-color: transparent;
}

.account-content-choice:hover {
  color: var(--color-accent);
  font-size: large;
  border-bottom: 1px solid var(--color-accent);
}

.account-content-choice-active {
  color: var(--color-main-light);
  font-size: medium;
  border-bottom: 1px solid var(--color-main-light);
}

.account-dynamic-content {
  height: 100%;
}
