.register-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.register-card-email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 75%;

  padding: 1rem;
}

.register-card-email-form-field-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;

  width: 100%;
}

.register-card-email-form-field-input {
  padding-inline: 1rem;
  color: var(--color-theme-font);
  border: 1px solid white;
  background-color: transparent;
}

.register-card-submit-button {
  width: 20rem;
  height: 4rem;
  cursor: pointer;
  margin-block: 2rem;
  background-color: transparent;
  color: var(--color-theme-font);
  font-size: medium;
}

.register-card-submit-button:hover {
  font-size: larger;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
